@import '@/assets/scss/_mixins';

.activity { position: relative; margin: 0 16px 0 0; padding: 0 16px; transform: translateZ(.125px) scale(.875);
  @include boxShape();

  .activityList { padding: 24px 12px 84px;
    & > li { margin: 32px 0 8px;
      &:first-child { margin: 0 0 8px; }
      .info { position: relative; padding: 0 0 8px; margin: 0 0 8px; border-bottom: 2px solid var(--text-color);
        .name { display: block; font-size: 30px; line-height: 1.2; }
        .provider { display: inline-block; position: absolute; right: 0; bottom: 8px; font-size: 16px; }
      }
      .date { display: block; font-size: 14px; text-align: left; }
    }
  }
}

@include response('mobile') {
  .activity {
    .activityList {
      & > li {
        .info {
          .provider { display: block; position: relative; right: auto; bottom: auto; margin: 8px 0 2px; }
        }
        .date { text-align: left; }
      }
    }
  }
}
