@import '@/assets/scss/_mixins';

.activity { position: relative; transform: translate(.125px) scale(.875); transform-origin: 50% 100%;
  @include boxShape();

  .activityList { padding: 24px 12px 84px;
    & > li { margin: 32px 0 8px;
      &:first-child { margin: 0 0 8px; }
      .info { position: relative; padding: 0 0 8px; margin: 0 0 8px; border-bottom: 2px solid var(--text-color);
        .name { font-size: 26px; }
        .provider { display: inline-block; position: absolute; right: 0; bottom: 8px; font-size: 14px; }
      }
      .date { display: block; font-size: 12px; text-align: right; }
    }
  }
}
