@import '@/assets/scss/_mixins';

.projects { position: relative; margin: 0 16px 0 0; padding: 0 16px; transform: translateZ(.125px) scale(.875);
  @include boxShape();

  .projectList { padding: 24px 12px 60px;
    li { margin: 32px 0 8px; font-size: 18px;
      &:first-child { margin: 0 0 8px; }
      .info { position: relative; padding: 0 0 8px; margin: 0 0 8px; border-bottom: 2px solid var(--text-color);
        .name { display: block; font-size: 30px; line-height: 1.2; }
        .goProject { display: flex; align-items: center; justify-content: center; position: absolute; right: 0; bottom: 8px;
          span { color: var(--text-color); font-size: 18px; line-height: 14px; }
          svg { margin: 3px 2px 0; width: 12px; height: 12px; color: var(--text-color); }
        }
      }
      .detail { font-size: 18px;
        > span { display: block; font-size: inherit; }
        .description { margin: 8px 0 0; line-height: 1.2; }
        .language { margin: 8px 0 0; font-size: 14px; line-height: 1.2; }
      }
    }
  }
}

@include response('mobile') {
  .projects {
    .projectList {
      li {
        .info {
          .name { white-space: pre-line; }
          .goProject {
            span {  }
            svg {  }
          }
        }
        .detail {
          > span { }
          .description {  }
          .language {  }
        }
      }
    }
  }
}
