@import '@/assets/scss/_mixins';

.skill { position: relative; margin: 0 16px 0 0; padding: 0 16px; transform: translateZ(.125px) scale(.875);
  @include boxShape();

  .skillList { padding: 24px 12px 84px;
    li { margin: 32px 0 8px; font-size: 22px;
      &:first-child { margin: 0 0 8px; }
      .title {
        strong { position: relative; display:block; margin: 0 0 16px;
          i { position: absolute; left: 0; bottom: -10px; width: 100%; height: 1px; background-color: var(--text-color);}
        }
      }
      span { display: inline-block; position: relative; margin-right: 8px; font-size: 16px; }
    }
  }
}
